<div class="container__big-card">
    <a href="">
        <div class="big-card__photo">
            <img 
            src="Capa.jpg" 
            height="200px"
            alt="">
        </div>

        <div class="big-card__title">
            <h1>Miss Curcurana</h1>
        </div>
    </a>

    <div class="big-card__description">
        <p>
            Declarada como moradora mais charmosa entre os moradores do bairro de curcurana, Ana Luísa 
            ganha destaque reconhecimento mundial.
        </p>
    </div>
</div>