.container__menu-bar{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    padding: 5px;
    background-color: transparent;
}

.container__menu-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 50px;
}

.container__menu-bar ul li {
    color: black;
    font-weight: 700;
    margin-right: 60px;
    display: inline-block; 
    background-color:transparent; 
    border: none; 
}

.container__menu-bar ul li a {
    color: #000000;
    font-weight: 700;
    margin-right: 15px;
    display: inline-block; 
    background-color: transparent; 
    border: none; 
}

.container__menu-bar ul li a:hover {
    background-color: transparent;
    color: rgb(167, 208, 255);
}