<div class="container__menu-bar">
  <div class="menu-bar__logo">
    <img src="manta-ray.png" alt="Logotipo">
    <p>ABYSSAL</p>
  </div>
  <div class="menu-bar__menu">
    <ul>
      <li><a [routerLink]="['']"> Home</a></li>
      <li><span>•</span></li>
      <li><a href="https://linkedin.com/in/1erycksantos" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      <li><span>•</span></li>
      <li><a href="https://github.com/devEryckSantos" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><span>•</span></li>
      <li><a href="https://www.instagram.com/erycksts.tech/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
    </ul>
  </div>
</div>