<div class="container__menu-bar">
    <div class="menu-bar__logo">
    
    </div>
    <div class="menu-bar__menu">
        <ul>
            <li><a [routerLink]="['']"> << Home</a></li>
            <li><a href="https://linkedin.com/in/1erycksantos">LinkedIn</a></li>
            <li><span>•</span></li>
            <li><a href="https://github.com/devEryckSantos">GitHub</a></li>
            <li><span>•</span></li>
            <li><a href="https://www.instagram.com/erycksts.tech/">Instagram</a></li>

        </ul>
    </div>
</div>