.container__menu-bar {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c1b32;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 3px 10px #0000008a ;
}

.menu-bar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-bar__logo img {
    width: 45px;
}

.menu-bar__logo p {
    font-size: 25px;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #009dff 8.24%, #0066ff 53.94%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__menu-bar ul {
    display: flex;
    list-style: none;
    margin-left: 220px;
    margin-top: 7px;
}

.container__menu-bar ul li {
    font-weight: 700;
    margin-right: 60px;
}

.container__menu-bar ul li a {
    font-size: 17px;
}

.container__menu-bar ul li a:hover {
    background: linear-gradient(90deg, #009dff 8.24%, #0066ff 53.94%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
